<div class="col-sm-9 col-sm-offset-2 main">
  <h3>Преподаватели на курса:</h3>

  
  
  <div class="col-sm-6 teacher-card" ng-repeat="teacher in ovm.currentCourse.course.teacher_set">

    <profile-card teacher-info="teacher" class="teacher-avatar"></profile-card>

  </div>

  <div class="col-sm-12">
    <hr>
    <p ng-show="ovm.currentCourse.course.fb_group">
      <strong>Facebook група на курса:</strong> 
      <a href="{{ovm.currentCourse.course.fb_group}}" target="_blank" ng-show="ovm.currentCourse.course.fb_group">{{ovm.currentCourse.course.fb_group}}</a>

    </p>
  <div class="col-sm-8">
    <div ng-show="ovm.weekdays.length">
      <p>Процент присъствия: {{ovm.presencePercentage}}% </p>
      <table class="table-bordered" id="presence-table">
        <thead>
          <tr>
            <th></th>
            <th ng-repeat="day in ovm.weekdays">{{day}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="week in ovm.presence">
            <td>{{'week' + ($index + 1)}}</td>
            <td ng-repeat="lectureDay in week track by $index" class="{{lectureDay.presence}}">{{ lectureDay.date | date: "dd-MM-yyyy" }}</td>
          </tr>
        </tbody>
      </table>      
    </div>

    <div class="alert alert-warning" role="alert" ng-hide="ovm.weekdays.length">
      Няма налична информация за присъствията ти за този курс.
    </div>

  </div>
</div>
