<angled-navbar menus="vm.menu"></angled-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ng-repeat="course in vm.courses" ui-sref-active="active" ui-sref-active-includes="studentDashboard.overview">
          <a ui-sref="studentDashboard.overview({courseId: '{{course.course.id}}'})"><i class="fa fa-info fa-1x icon-text"></i> {{ course.course.name }}</a>
          <ul class="sub-ul">
            <li  ui-sref-active="active" ui-sref-active-includes="studentDashboard.otherStudents">
              <a ui-sref="studentDashboard.otherStudents({courseId: '{{course.course.id}}'})">
                <i class="fa fa-caret-right"></i> Всички от курса
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div ui-view></div>
  </div>
</div>
