
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">HackBulgaria</a>
    </div>
    <angled-navbar menus="vm.menu"></angled-navbar>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ng-repeat="course in vm.teachedCourses" ui-sref-active="active" ui-sref-active-includes="teachersDashboard.statistics">
          <a ui-sref="teachersDashboard.statistics({courseId: course.id})"><i class="fa fa-info fa-1x icon-text"></i> {{ course.name }}</a>
          <ul class="sub-ul">
            <li ui-sref-active="active" ui-sref-active-includes="teachersDashboard.students">
              <i class="fa fa-caret-right"></i>
              <a ui-sref="teachersDashboard.students({courseId: course.id})" >Студенти</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div ui-view></div>
  </div>
</div>
