<div class="col-sm-10 col-sm-offset-2 main">
  <h1 class="text-center">{{vm.currentCourse.name}}</h1>
  <course-statistics-card title="'Students started:'" data="{{vm.stat.started}}"></course-statistics-card>
  <course-statistics-card title="'Students dropped:'" data="{{vm.stat.dropped}}"></course-statistics-card>
  <course-statistics-card title="'Drop rate:'" data="{{vm.stat.dropRate | number:1}}%"></course-statistics-card>
  <course-statistics-card title="'Attendance Rate With Dropped Students:'" data="{{vm.stat.attendanceRate | number:2}}%"></course-statistics-card>
  <course-statistics-card title="'Attendance Rate Without Dropped Students:'" data="{{vm.stat.attendanceRateWithoutDropped | number:2}}%"></course-statistics-card>
</div>
