<div class="container">
  <angled-navbar menus="vm.menu"></angled-navbar>
  <div class="card par">
      <img id="box1" src='{{vm.user.avatar}}'>
    <div id="box2">
        <h1 id="box4">{{vm.user.first_name}} {{vm.user.last_name}}</h1>
      <div id="box5">
        <p><strong>MAC address: </strong><span>{{vm.user.mac}} </span><button type="button" class="btn btn-primary" ng-click="vm.mac()">Edit</button></p>
      </div>

        <button id="box6" type="button" class="btn btn-primary" ng-click="vm.cv()">Upload CV</button>

    </div>
    <div id="box3">
      <h4>Social links:</h3>
        <p>
          <i class="fa fa-github fa-2x icon-text"></i> <a href='{{vm.user.social_links.github}}'>{{vm.user.social_links.github}}</a>
        </p>
        <p>
          <i class="fa fa-twitter fa-2x icon-text"></i> <a href='{{vm.user.social_links.twitter}}'>{{vm.user.social_links.twitter}}</a>
        </p>
        <p>
          <i class="fa fa-linkedin fa-2x icon-text"></i> <a href='{{vm.user.social_links.linkedin}}'>{{vm.user.social_links.linkedin}}</a>
        </p>

        <button type="button" class="btn btn-primary" ng-click="vm.social()">Edit</button>
    </div>
  </div>
  
  <div class="card par">
    <h3>Courses:</h3>
    <table ng-show="vm.user.courses" class="table table-bordered">
      <tr>
        <th>Status</th>
        <th>Course</th>
        <th>During</th>
        <th>Certificate</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="course in vm.user.courses" class="{{vm.icon(course.status)[1]}}">
        <td class="text-center"><i class="{{vm.icon(course.status)[0]}} icon-text" ></i>{{course.status}}</td>
        <td>{{course.name}}</td>
        <td>{{course.start_time}} - {{course.end_time}}</td>
        <td><a href='{{course.certificate}}' ng-show="course.certificate">Link - {{course.certificate_p}}%</a><span ng-hide="course.certificate">N/A</span></td>
        <td>
          <span ng-show="course.notes">
            <a ui-sref="home" class="btn btn-primary">{{course.notes}}</a>
          </span>
          <span ng-hide="course.notes">N/A</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="card par">
    <h3>Challenges:</h3>
    <table ng-show="vm.user.challenges" class="table table-bordered">
      <tr>
        <th>Hackathon</th>
        <th>Team name</th>
        <th>Idea description</th>
        <th>Place</th>
      </tr>
      <tr ng-repeat="challenge in vm.user.challenges">
        <td>{{challenge.hackathon}}</td>
        <td>{{challenge.team_name}}</td>
        <td>{{challenge.idea_description}}</td>
        <td>{{challenge.place}}</td>
      </tr>
    </table>
  </div>
</div>
