<angled-navbar menus="vm.menu"></angled-navbar>
<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="/images/logo.png" />
    <p id="profile-name" class="profile-name-card"></p>

    <!-- <div cc-error-box error-message="vm.errorService.errorMessage"> -->
    <!-- </div> -->

    <form class="form-signin" name="loginForm" ng-submit="vm.login()" novalidate>
      <span id="reauth-email"></span>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="vm.user.email" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="vm.user.password"required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-disabled="loginForm.$invalid">Вход</button>
    </form>
    <a ui-sref="register" class="forgot-password">
      Още не си се регистрирал?
    </a><br>
    <a ui-sref="resetpassword" class="forgot-password">
      Забравена парола?
    </a>
  </div>
</div>
