<div class="edit-dialog">
  <form class="form-horizontal" name="social-links" ng-submit="editSocial()" novalidate>
    <div>
      <label>GitHub:</label>
      <input type="text" name="github" class="form-control" ng-model="social.github">
    </div>
    <div>
      <label>Twitter:</label>
      <input type="text" name="twitter" class="form-control" ng-model="social.twitter">
    </div>
    <div>
      <label>LinkedIn:</label>
      <input type="text" name="linkedIn" class="form-control" ng-model="social.linkedin">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        Промени
      </button>
    </div>
  </form>
</div>
