<angled-navbar menus="vm.menu"></angled-navbar>
<div class="card card-container" id="register-form">
  <form class="form-horizontal" name="registerForm" ng-submit="vm.register(registerForm.$valid)" novalidate>

    <div class="form-group">
      <label class="col-sm-3 control-label">Две имена:</label>
      <div class="col-sm-9">
        <input type="text" name="full_name" class="form-control" ng-model="vm.user.name" required>
        <div ng-show="registerForm.full_name.$error.required && registerForm.full_name.$touched">
          <span class="help-block">Tова поле е задължително!</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Email:</label>
      <div class="col-sm-9">
        <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        <div ng-show="registerForm.email.$error.required && registerForm.email.$touched">
          <span class="help-block">Tова поле е задължително!</span>
        </div>
        <div ng-show="registerForm.email.$invalid && registerForm.email.$touched">
          <span class="help-block">Това не е валиден email</span>
        </div>
      </div>
    </div>

    
    <div class="form-group">
      <label class="col-sm-3 control-label">Парола:</label>
      <div class="col-sm-9">
        <input type="password" name="password" ng-model="password" class="form-control" required>
        <div ng-show="registerForm.password.$error.required && registerForm.password.$touched">
          <p>Паролата е задължителна</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Пак парола:</label>
      <div class="col-sm-9">
        <input type="password" name="password2" class="form-control" ng-model="vm.user.password" cc-pwd-check="password" required>
        <div ng-show="registerForm.password2.$error.required && registerForm.password2.$touched">
          <p>Паролата е задължителна</p>
        </div>
        <div ng-show="registerForm.password2.$error.pwdmatch && registerForm.password2.$touched">
          <p>Паролата трябва да съвпада</p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">
        Hack on!
      </button>
    </div>
  </form>
</div>
