<div class="container">
  <div class="card card-container" id="forgoten-password">
    <div class="alert alert-warning">
      Ще ви изпратим link за промяна на пароалта по email.
    </div>
    <form class="form-signin" name="lostPassword" ng-submit="vm.lostPassword()" novalidate>
      <span id="reauth-email"></span>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="vm.userData.email" required autofocus>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-disabled="lostPassword.$invalid">Изпрати</button>
    </form>
  </div>
</div>
