<div class="container">
  <div class="card card-container">

    <form class="form-signin"  name="newPwdForm" ng-submit="vm.setNew()">

      <div class="form-group">
        <input type="password" name="password2" ng-model="vm.data.new_password" class="form-control" placeholder="Нова парола" required>
        <div ng-show="newPwdForm.password2.$error.required && newPwdForm.password2.$touched">
          <p>Паролата е задължителна</p>
        </div>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" ng-model="vm.data.re_new_password" cc-pwd-check="vm.data.new_password" placeholder="Повтори паролата" required>
        <div ng-show="newPwdForm.password.$error.required && newPwdForm.password.$touched">
          <p>Паролата е задължителна</p>
        </div>
        <div ng-show="newPwdForm.password.$error.pwdmatch && newPwdForm.password.$touched">
          <p>Паролата трябва да съвпада</p>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-disabled="newPwdForm.$invalid">Изпрати</button>
    </form>
  </div>
</div>
