<table class="table table-bordered">
    <tr>
      <th>Статус</th>
      <th>Курс</th>
      <th>Период</th>
      <th>Сертификат</th>
      <th></th>
    </tr>

    <tr ng-repeat="ca in courses">
      <td class="text-center"><i class="{{icon(ca.status)}} icon-text" ></i> {{ca.status}}</td>
      <td>{{ca.course.name}}</td>
      <td>{{ca.course.start_time | date : "dd.MM.yyyy"}} - {{ca.course.end_time | date : "dd.MM.yyyy"}}</td>
      <td class="last-col">
        <a href="https://hackbulgaria.com/certificate/{{ca.certificate.id}}/" ng-show="ca.certificate" target="_blank">
          <i class="fa fa-trophy"></i> Линк към Сертификат
        </a>
        <span ng-hide="ca.certificate">Не е генериран</span></td>
      <td>
        <a ui-sref="studentDashboard.tasks({courseId: ca.course.id})"> <i class="fa fa-file-code-o"></i> Предай задачи!</a>
      </td>
    </tr>
  </table>
