<div>
  <form name="positionForm" class="form-horizontal">

    <div class="form-group works-at">
      <label class="control-label">Позиция: *</label>
      <input type="text" name="title" class="form-control error" ng-model="position.title" required>
      <div ng-show="positionForm.title.$error.required && positionForm.title.$touched">
        <span class="help-block">Tова поле е задължително!</span>
      </div>
    </div>
    
    <div  class="form-group works-at">
      <label class="control-label">Име на компанията: *</label>
      <div ng-show="edit" angucomplete-alt id="companyedit" pause="100" selected-object="position.company_name" local-data="companies" search-fields="name" title-field="name" minlength="1" input-name="companyedit" input-class="form-control" auto-match="true" input-changed="inputChanged" initial-value="position.company_name"></div>
      <div ng-hide="edit" angucomplete-alt id="company" pause="100" selected-object="position.company_name" local-data="companies" search-fields="name" title-field="name" minlength="1" input-name="company" input-class="form-control" auto-match="true" input-changed="inputChanged" ></div>
      <div ng-show="positionForm.company.$touched && !positionForm.company.$modelValue" >
        <span class="help-block">Tова поле е задължително!</span>
      </div>
      
      <div class="form-group works-at">
        <label class="control-label">Град: *</label>
        <div ng-show="edit" angucomplete-alt id="cityedit" pause="100" selected-object="position.location" local-data="cities" search-fields="name" title-field="name" minlength="1" input-name="city" input-class="form-control" field-required-class="err" field-required="true" auto-match="true" initial-value="position.location_full.name"></div>
        <div ng-hide="edit" angucomplete-alt id="city" pause="100" selected-object="position.location" local-data="cities" search-fields="name" title-field="name" minlength="1" input-name="city" input-class="form-control" field-required-class="err" field-required="true" auto-match="true"></div>
        <div ng-show="positionForm.city.$touched && !positionForm.city.$modelValue">
          <span class="help-block">Tова поле е задължително!</span>
        </div>
      </div>

      <div class="form-group works-at">
        <div>
          <span>Още работя тук: </span>
          <input type="checkbox" name="position.isCurrent" ng-model="position.isCurrent">
        </div>
        <label class="control-label">Времеви интервал:</label>
        <div>
          <div class="works-at-date">
            <span>От: *</span>
            <select name="startMonth" ng-model="position.startMonth" ng-options="currMonth.number as currMonth.name for currMonth in months" required></select>
            <input type="number" name="number" class="form-control works-at-year" ng-model="position.startYear" ng-minlength="4" ng-maxlength="4" min="1990" max="{{vm.currentYear}}" placeholder="година" required>
            <span ng-hide="position.isCurrent" id="endMonth">До: </span>
            <select  ng-hide="position.isCurrent" ng-model="position.endMonth" ng-options="currMonth.number as currMonth.name for currMonth in months"></select>
            <input  ng-hide="position.isCurrent" type="number" name="endYear" class="form-control works-at-year" ng-model="position.endYear" placeholder="година" ng-maxlength="4" min="1990" max="{{vm.currentYear}}">
          </div>
          <div ng-show="positionForm.startMonth.$touched && positionForm.startMonth.$error.required">
            <span class="help-block">Tова поле е задължително!</span>
          </div>
          <div ng-show="positionForm.startYear.$touched && positionForm.startYear.$error.required">
            <span class="help-block">Tова поле е задължително!</span>
          </div>
        </div>
      </div>

      <div class="form-group works-at" ng-hide="position.afterCourse">
        <label class="control-label">Дойдох работещ на курсовете:</label>
        <input type="checkbox" name="came_working" ng-model="position.came_working" ng-required='!position.afterCourse'>
      </div>
      
      <div class="form-group works-at" ng-hide="position.came_working">
        <label class="control-label">Започнах работа след курс:</label>
        <input type="checkbox" name="afterCourse" ng-model="position.afterCourse" ng-required='!position.came_working'>
      </div>

      <div class="form-group works-at" ng-show="position.afterCourse">
        <label class="control-label">След кой курс:</label>
        <select ng-model="position.course" ng-options="currCourse.course.id as currCourse.course.name for currCourse in courses" ng-required='position.afterCourse'></select>
      </div>
      
      <div class="form-group works-at">
        <label class="control-label">Oписание:</label>
        <textarea name="description" class="form-control" ng-model="position.description" rows="2" placeholder="Малко повече информация за позицията."></textarea>
      </div>
      
      <button type="submit" ng-disabled="positionForm.$invalid" class="btn btn-primary" ng-click="submit($positionForm.$valid)">Save</button>
  </form>
  </div>        
