<div>статус лента</div>
<div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 application-info">
  <application-info data="vm.user.personalInfo"></application-info>
</div>

<div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 application-ranking">
  <ranking data="vm.courses"></ranking>
</div>

<div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 application-task">
  <div ng-repeat="task in vm.tasks | orderBy: 'id'">
    <bundle-task tasks task="task"></bundle-task>
  </div>
</div>
