<div>
  <form name="worksAtForm" class="form-horizontal"  ng-submit="addWork()">

    <div class="form-group works-at">
        <label class="control-label">Позиция: *</label>
        <input type="text" name="title" class="form-control error" ng-model="worksAt.title" required>
        <div ng-show="worksAtForm.title.$error.required && worksAtForm.title.$touched">
          <span class="help-block">Tова поле е задължително!</span>
        </div>
      </div>
    
    <div  class="form-group works-at">
      <label class="control-label">Име на компанията: *</label>
      <div angucomplete-alt id="company" pause="100" selected-object="worksAt.company_name" local-data="companies" search-fields="name" title-field="name" minlength="1" input-name="company" input-class="form-control" auto-match="true" input-changed="inputChanged"></div>
      <div ng-show="worksAtForm.company.$touched && !worksAtForm.company.$modelValue" >
        <span class="help-block">Tова поле е задължително!</span>
      </div>
      

      <div class="form-group works-at">
        <label class="control-label">Град: *</label>
        <div angucomplete-alt id="city" pause="100" selected-object="worksAt.location" local-data="cities" search-fields="name" title-field="name" minlength="1" input-name="city" input-class="form-control" field-required-class="err" field-required="true" auto-match="true"></div>
        
        <div ng-show="worksAtForm.city.$touched && !worksAtForm.city.$modelValue">
          <span class="help-block">Tова поле е задължително!</span>
        </div>
      </div>

      <div class="form-group works-at">
        <div>
          <span>Още работя тук: </span>
          <input type="checkbox" name="worksAt.isCurrent" ng-model="worksAt.isCurrent">
        </div>
        <label class="control-label">Времеви интервал:</label>
        <div>
          <div class="works-at-date">
            <span>От: *</span>
            <select name="startMonth" ng-model="worksAt.startMonth" ng-options="currMonth.number as currMonth.name for currMonth in months" required></select>
            <input type="number" name="number" class="form-control works-at-year" ng-model="worksAt.startYear" ng-minlength="4" ng-maxlength="4" min="1990" max="{{vm.currentYear}}" placeholder="година" required>
            <span ng-hide="worksAt.isCurrent" id="endMonth">До: </span>
            <select  ng-hide="worksAt.isCurrent" ng-model="worksAt.endMonth" ng-options="currMonth.number as currMonth.name for currMonth in months"></select>
            <input  ng-hide="worksAt.isCurrent" type="number" name="endYear" class="form-control works-at-year" ng-model="worksAt.endYear" placeholder="година" ng-maxlength="4" min="1990" max="{{vm.currentYear}}">
          </div>
          <div ng-show="worksAtForm.startMonth.$touched && worksAtForm.startMonth.$error.required">
            <span class="help-block">Tова поле е задължително!</span>
          </div>
          <div ng-show="worksAtForm.startYear.$touched && worksAtForm.startYear.$error.required">
            <span class="help-block">Tова поле е задължително!</span>
          </div>
        </div>
      </div>

      <div class="form-group works-at" ng-hide="worksAt.afterCourse">
        <label class="control-label">Дойдох работещ на курсовете:</label>
        <input type="checkbox" name="withJob" ng-model="worksAt.withJob" ng-required='!worksAt.afterCourse'>
      </div>
 
      <div class="form-group works-at" ng-hide="worksAt.withJob">
        <label class="control-label">Започнах работа след курс:</label>
        <input type="checkbox" name="afterCourse" ng-model="worksAt.afterCourse" ng-required='!worksAt.withJob'>
      </div>

      <div class="form-group works-at" ng-show="worksAt.afterCourse">
        <label class="control-label">След кой курс:</label>
        <select ng-model="worksAt.course" ng-options="currCourse.course.id as currCourse.course.name for currCourse in courses" ng-required='worksAt.afterCourse'></select>
      </div>
      
      <div class="form-group works-at">
        <label class="control-label">Oписание:</label>
        <textarea name="description" class="form-control" ng-model="worksAt.description" rows="2" placeholder="Малко повече информация за позицията."></textarea>
      </div>
      
      <button type="submit" ng-disabled="worksAtForm.$invalid" class="btn btn-primary">Save</button>
  </form>
  </div>        
