<angled-navbar menus="vm.menu"></angled-navbar>


<div class="container-fluid">
  <div class="col-sm-12 main">
    <div class="row">
      <h1 class="page-header">{{vm.user.first_name}} {{vm.user.last_name}}</h1>
      <div class="col-xs-3 text-center">
        <a data-toggle="modal" data-target="#myModal">
          <i id="edit-avatar" class="fa fa-pencil-square-o fa-2x"></i>
          <img hb-avatar ng-src="{{vm.user.avatar}}"  class="img-thumbnail" id="avatar">
        </a>
        
        <div id="social-icons">
          <a ng-show="vm.user.personalInfo.github_account" href='{{vm.user.personalInfo.github_account}}' target="_blank"><i class="fa fa-github icon-text fa-2x"></i></a>
          <a ng-show="vm.user.personalInfo.twitter_account" href='{{vm.user.personalInfo.twitter_account}}' target="_blank"><i class="fa fa-twitter icon-text fa-2x"></i></a>
          <a ng-show="vm.user.personalInfo.linkedin_account" href='{{vm.user.personalInfo.linkedin_account}}' target="_blank"><i class="fa fa-linkedin icon-text fa-2x"></i></a>
        </div>
      </div>

      <div class="col-xs-4">
        <p ng-show="vm.user.personalInfo.studies_at">
          <i class="fa fa-graduation-cap icon-text"></i> {{vm.user.personalInfo.studies_at}}
        </p>

        <button type="button" class="btn btn-primary" ng-click="vm.info()">Промени информацията</button>
        <div ng-show="vm.user.student" id="mac-div">
          <strong>MAC адрес: </strong> <span>{{vm.user.student.mac}} </span>
        </div>
        <button ng-show="vm.user.student" type="button" class="btn btn-primary" ng-click="vm.mac()" id="change-mac">Промени MAC</button>
      </div>


      <div class="col-xs-4">
        <div class="alert alert-success" role="alert">
          <strong>Tърсиш си работа или стаж?</strong> <br> Пиши ни на: careers@hackbulgaria.com Ние ще ти помогнем!  
        </div>
        <div class="student-job" ng-show="vm.user.student.workingat_set.length > 0">
          <div ng-repeat="position in vm.user.student.workingat_set">
            <p class="student-position" ng-click="vm.editPosition(position.id)">
              <strong>{{position.title}}</strong> - <span class="student-company-name">{{position.company_name}}</span>
              <i class="fa fa-pencil"></i>
            </p>
            
            <p class="student-date">{{position.start_date | date: "MMMM yyyy"}} <span ng-show="position.end_date"> - {{position.end_date | date: "MMMM yyyy"}} </span><span ng-hide="position.end_date"> - Present </span> | {{position.location_full.name}}</p>
          </div>
        </div>
        
        <button  ng-show="vm.user.student" type="button" class="btn btn-primary" ng-click="vm.addPosition()">
          Добави работа
        </button>
      </div>


      <div class="col-md-12" ng-show="vm.events.length !== 0 && vm.user.ticket_set.length !== 1">
        <hr>
        <h3>Идващи събития:</h3>
        <div  ng-repeat="event in vm.events">
          <div class="alert alert-success">
            <p>
              <strong>
                {{event.name}}
              </strong> - Безплатна, двудневна конференция за IT образование в НДК.
            </p>
            <p>
              Дати: 19-20-ти Септември.
            </p>
            <p>
              Прочети повече на:
              <a href="{{event.url}}" target="_blank" class="alert-link">
                {{event.url}}
              </a>
            </p>
            <br>
            <button type="button" class="btn btn-primary" ng-click="vm.buyTicket(event.id)">Вземи билет</button>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="alert alert-warning" role="alert"  ng-show="vm.user.ticket_set.length === 1">
      <div>Успешно се записа за <strong>HackConf 2015</strong>. Чакаме те на 19-20-ти Септември в НДК София от 9:30 часа!</div>
    </div>

    <div class="col-md-12" ng-show="vm.user.student">
      <hr>
      <h3>Курсове:</h3>
      <table ng-show="vm.user.student" class="table table-bordered">
        <tr>
          <th>Статус</th>
          <th>Курс</th>
          <th>Период</th>
          <th>Сертификат</th>
        </tr>

        <tr ng-repeat="ca in vm.user.student.courseassignment_set">
          <td class="text-center"><i class="{{vm.icon(ca.status)}} icon-text" ></i> {{ca.status}}</td>
          <td>{{ca.course.name}}</td>
          <td>{{ca.course.start_time | date : "dd.MM.yyyy"}} - {{ca.course.end_time | date : "dd.MM.yyyy"}}</td>
          <td class="last-col">
            <a href='{{ca.oldcertificate_url}}' ng-show="ca.oldcertificate_url" target="_blank">
              <i class="fa fa-trophy"></i> Линк към Сертификат
            </a>
            <span ng-hide="ca.oldcertificate_url">Не е генериран</span></td>
        </tr>
      </table>
    </div>
    <div class="col-md-12" ng-show="vm.user.competitor">
      <hr>
      <h3>Състезания:</h3>
      <table ng-show="vm.user.competitor" class="table table-bordered">
        <tr>
          <th>Състезание</th>
          <th>Име на отбора</th>
          <th>Описание на идеята</th>
          <th>Място</th>
        </tr>
        <tr ng-repeat="challenge in vm.user.competitor.teammembership_set">
          <td>{{challenge.team.season.name}}</td>
          <td>{{challenge.team.name}}</td>
          <td>{{challenge.team.idea_description}}</td>
          <td>{{challenge.team.place}}</td>
        </tr>
      </table>
    </div>

  </div>
</div>
</div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Качи снимка</h4>
      </div>
      <div class="modal-body">
        <form name="avatarForm">
          <input  type="file" fileread="vm.obj.src" ng-model="picFile" name="file" accept="image/*" ngf-select=""/>
          <div ng-show="vm.obj.src" ng-jcrop="vm.obj.src" width="400" selection="vm.obj.selection" thumbnail="obj.thumbnail"></div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
        <button type="button" class="btn btn-primary" ng-click="vm.uploadAvatar(picFile)" ng-disabled="!picFile">Качи снимка</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
