<angled-navbar menus="vm.menu"></angled-navbar>

<div class="container-fluid">
  <div class="col-sm-12 main">
    <div class="row">
      <h1 class="page-header">{{vm.user.first_name}} {{vm.user.last_name}}</h1>
      <div class="col-xs-3 text-center">
        <i id="edit-avatar" class="fa fa-pencil-square-o fa-2x"></i>
        <img hb-avatar ng-src="{{vm.user.avatar}}"  class="img-thumbnail" id="avatar">

        <social-icons info="vm.user.personalInfo"></socialIcons>
</div>

<div class="col-xs-4">
  <personal-info info="vm.user.personalInfo" ng-show="vm.user.personalInfo.studies_at"></personal-info>
  <mac-address mac="{{vm.user.student.mac}}" ng-show="vm.user.isStudent"></mac-address>
  
</div>


<div class="col-xs-4">
  <div class="alert alert-success" role="alert" ng-show="vm.user.isStudent && !vm.user.isTeacher">
    <strong>Tърсиш си работа или стаж?</strong> <br> Пиши ни на: careers@hackbulgaria.com Ние ще ти помогнем!
  </div>
  
  <div class="student-job" ng-show="vm.user.student.workingat_set.length > 0">
    <div ng-repeat="position in vm.user.student.workingat_set">
      <position-card position="position" cities="vm.cities" companies="vm.companies" courses="vm.courses"></position-card>
    </div>
  </div>
  <button add-position set="vm.user.student.workingat_set" cities="vm.cities" companies="vm.companies" ng-show="vm.user.student" courses="vm.courses" type="button" class="btn btn-primary" ng-click="vm.addPosition()">
    Добави работа
  </button>
</div>



<div class="col-md-12" >
  <!-- ng-show="vm.events.length !== 0 && vm.user.ticket_set.length !== 1" -->
  <hr>
  <h3>Идващи събития:</h3>
  <div  ng-repeat="event in vm.events | orderBy: 'ticket'">
    <event-card event="event"></event-card>
  </div>
</div>
</div>
<br>

<div class="col-md-12" ng-show="vm.user.isStudent">
  <hr>
  <h3>Курсове:</h3>
  <course-card courses="vm.user.student.courseassignment_set"></course-card>
</div>
<div class="col-md-12" ng-show="vm.user.isCompetitor">
  <challenges-card challenges="vm.user.competitor.teammembership_set"></challengesCard>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Качи снимка</h4>
      </div>
      <div class="modal-body">
        <form name="avatarForm">
          <input  type="file" fileread="vm.obj.src" ng-model="picFile" name="file" accept="image/*" ngf-select=""/>
          <div ng-show="vm.obj.src" ng-jcrop="vm.obj.src" selection="vm.obj.selection">{{vm.obj}}</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
        <button type="button" class="btn btn-primary" ng-click="vm.uploadAvatar(picFile)" ng-disabled="!picFile">Качи снимка</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
