<div ng-repeat="student in vm.students">
  <span ng-click="vm.getCheckins(student.id, vm.data)">{{student.first_name}} {{student.last_name}}</span>
</div>
<div>
  <table class="table table-bordered">
    <caption>Presence</caption>
    <thead>
      <tr>
        <th></th>
        <th ng-repeat="day in vm.lectureDays">{{day}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(week, date) in vm.courseWeeks">
        <td>{{'week' + ($index + 1)}}</td>
        <td ng-repeat="day in vm.lectureDays" class="{{date[$index].presence}}"></td>
      </tr>
    </tbody>
  </table>
</div>
