<div id="selectme" class="edit-dialog">
  <form class="form-horizontal" name="social_form" ng-submit="editInfo(social_form.$valid)" novalidate>
    <div>
      <label>GitHub:</label>
      <span ng-show="social_form.github.$error.url">невалиден URL</span>
      <input type="url" name="github" class="form-control" ng-model="personalInfo.github_account">
    </div>
    <div>
      <label>Twitter:</label>
      <span ng-show="social_form.twitter.$error.url">невалиден URL</span>
      <input type="url" name="twitter" class="form-control" ng-model="personalInfo.twitter_account">
    </div>
    <div>
      <label>LinkedIn:</label>
      <span ng-show="social_form.linkedIn.$error.url">невалиден URL</span>
      <input type="url" name="linkedIn" class="form-control" ng-model="personalInfo.linkedin_account">
    </div>
    <div>
      <label>Образование:</label>
      <input type="text" name="studiesAt" class="form-control" ng-model="personalInfo.studies_at">
    </div>
    <div>
      <label>Град:</label>
      <div angucomplete-alt id="city" pause="100" selected-object="personalInfo.city" local-data="cities" search-fields="name" title-field="name" minlength="1" input-name="city" input-class="form-control" auto-match="true" initial-value="personalInfo.birth_place.name">
    </div>
    <div>
      <label>Допълнителна информация:</label>
      <textarea type="text" class="form-control" ng-model="personalInfo.description"></textarea>
    </div>

    <div class="text-center form-group">
      <button type="submit" class="btn btn-primary dialog-button">
        Промени
      </button>
    </div>

  </form>
</div>
