<angled-navbar menus="vm.menu"></angled-navbar>

<div class="container-fluid">
  <div class="col-sm-2 sidebar">
    <ul class="nav nav-sidebar">
      <li ng-repeat="course in vm.teachedCourses" ng-class="{active: course.id==vm.currentId}" >
        <a ng-click="vm.showStudents(course.id)"><i class="fa fa-info fa-1x icon-text"></i> {{ course.name }}</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-offset-2">
      <input type="text" placeholder="Търси курсист"  ng-model="studentSearch" id="students-search">
    </div>
    <div class="col-xs-3 col-sm-offset-2 sidebar" id="student-list">
      <div class="student-item" ng-class="{active: ca == vm.courseAssignment}" ng-repeat="ca in vm.ca | filter:studentSearch" ng-click="vm.getCheckins(ca.user.id)">
        <img hb-avatar ng-src="{{ca.user.avatar}}" class="student-avatar">
        <p>{{ca.user.first_name}} {{ca.user.last_name}}</p>
        <p class="badge">Коментари: {{ca.studentnote_set.length}}</p>
        <p class="badge">Присъствие: <span ng-class="{red: ca.student_presence < 50, yellow: ca.student_presence >= 50 && ca.student_presence <= 80, green: ca.student_presence > 80}">{{ca.student_presence}}%</span></p>
      </div>
    </div>

    <div class="col-sm-7 col-sm-offset-5 main" ng-show="vm.courseAssignment">
      <div class="col-sm-4">
        <img hb-avatar ng-src="{{ vm.courseAssignment.user.avatar}}" class="img-thumbnail">
      </div>

      <div class="col-sm-8">
        <h3 id="student-name">{{ vm.courseAssignment.user.first_name }} {{ vm.courseAssignment.user.last_name }}</h3>
        <ul class="socials">
          <li>
            <i class="fa fa-github"></i>
            <a href="{{ vm.courseAssignment.user.github_account }}" target="_blank" ng-show="vm.courseAssignment.user.github_account">
              {{ vm.courseAssignment.user.github_account }}
            </a>
            <span ng-hide="vm.courseAssignment.user.github_account">
              Няма пратен GitHub
            </span>
          </li>
          <li>
            <i class="fa fa-envelope-o"></i>
            {{ vm.courseAssignment.user.email }}
          </li>
          <li>
            <i class="fa fa-circle {{vm.colorCoding}}"></i>
            <span>{{ vm.presencePercentage }}%</span>
          </li>
        </ul>

        <table class="table-bordered" id="presence-table" ng-show="vm.courseAssignment.user.mac && vm.lectureDays.length > 0">
          <thead>
            <tr>
              <th></th>
              <th ng-repeat="day in vm.lectureDays">{{day}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(week, date) in vm.tempData">
              <td>{{'week' + ($index + 1)}}</td>
              <td ng-repeat="day in vm.lectureDays" class="{{date[$index].presence}}">{{ date[$index].date | date:'dd MMM yyyy' }}</td>
            </tr>
          </tbody>
        </table>

        <div class="alert alert-danger" role="alert"  ng-show="!vm.courseAssignment.user.mac">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Не е вкаран MAC адрес!
        </div>

      </div>

  </div>
    
    <div class="col-sm-7 col-sm-offset-5 main" ng-show="vm.courseAssignment">
      <h3>Коментари от преподавател</h3>

      <form ng-submit="vm.addNote(vm.courseAssignment.id)" novalidate>
        <div class="form-group">
          <textarea name="new_note" class="form-control" ng-model="vm.newNote" rows="3"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Добави коментар
          </button>
        </div>
      </form>

      <hr>
      <p ng-repeat="note in vm.courseAssignment.studentnote_set | orderBy:'post_time':true">
        <span>
          {{note.post_time | date:'dd/MM/yyyy @ h:mma'}}
        </span>
        <strong>
          {{note.author.first_name}} {{note.author.last_name}}: 
        </strong>
        {{note.text}}
      </p>
    </div>
  </div>
</div>

