<div id="selectme" class="edit-dialog">
  <form class="form-horizontal" name="social_form" ng-submit="editSocial(social_form.$valid)" novalidate>
    <div>
      <label>GitHub:</label>
      <span ng-show="social_form.github.$error.url">невалиден URL</span>
      <input type="url" name="github" class="form-control" ng-model="socialLinks.github_account">
    </div>
    <div>
      <label>Twitter:</label>
      <span ng-show="social_form.twitter.$error.url">невалиден URL</span>
      <input type="url" name="twitter" class="form-control" ng-model="socialLinks.twitter_account">
    </div>
    <div>
      <label>LinkedIn:</label>
      <span ng-show="social_form.linkedIn.$error.url">невалиден URL</span>
      <input type="url" name="linkedIn" class="form-control" ng-model="socialLinks.linkedin_account">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        Промени
      </button>
    </div>
  </form>
</div>
